[package]
name = "image_editor"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.106"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
